<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h2>Welcome to the Home Page</h2>
    <p>You have successfully logged in!</p>

    <form action="/mine_block">
        <input type="submit" value="Mine new block" />
    </form>
    <form action="/get_chain">
        <input type="submit" value="Get chain" />
    </form>
    <form action="/valid">
        <input type="submit" value="Valid" />
    </form>
    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
